{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
{{ block.super}}


<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://fonts.googleapis.com/css?family=K2D" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <link href=" {% static 'css/styles.css' % } " rel="stylesheet" >
  <link href=" {% static 'css/index.css' % } " rel="stylesheet" >

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body class="card text-white bg-danger">
  <div class="container-fluid">
    <h1 id="mainheading" style="text-align:center;" class="display-4"> Neighbour-Hood</h1>
    
    <h4>Don't see your hood ? <br>
      Register it <a style="color:#4fc3f7;" href="{% url 'add_hood'  %}" class="btn btn-sm btn-info">here</a>
    </h4>
    <div class="card-columns">
      {% for hood in hoods%}

      <div class="card border-secondary alert alert-primary" role="alert">

        <div class="card-body alert alert-warning" role="alert" style="background-color:#eceff1;">


          <h4 id="text" class="card-title">Hood: <span class="alert alert-success" role="alert"> {{hood.name }} </span></h4><br>
          <h6 id="text" class="card-title">Location: <span class="alert alert-danger" role="alert"> {{hood.locality | upper}} </span></h6><br>

          <h5 id="text" class="card-title">Occupants: <span class="alert alert-warning" role="alert"> {{hood.occupants_count | upper}} </span></h5>


          <!--<p class="card-text">{{post.description | safe}}</p>-->
          <a href="{% url 'join_hood' hood.id  %}" class="btn btn-sm btn-success container-fluid" > <h3>Join</h3></a>
        </div>
      </div>
      {% endfor %}

    </div>

  </div>
</body>

</html>

{% endblock %}